* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto 1fr;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  grid-row: 1 / -1;
  grid-column: 1;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: min-content;
  padding: 20px;
  background-color: #0284c7;
  color: white;
  gap: 15px;
}

.sidebar-header, .sidebar-panel-link-list, .sidebar-panel-link, .sidebar-account-link-list, .sidebar-account-link {
  display: contents;
}

nav img {
  justify-self: center;
  align-self: center;
  height: 1.7rem;
  filter: invert(99%) sepia(0%) saturate(22%) hue-rotate(36deg) brightness(104%) contrast(100%);
}

nav a {
  justify-self: left;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 700;
}

nav a, nav a:active, nav a:visited, nav a:hover {
  color: white;
  text-decoration: none;
}

.sidebar-header a {
  font-size: 2rem;
}

.sidebar-header img {
  height: 3rem;
}

.first-sidebar-panel-link img, .first-sidebar-panel-link a {
  padding-top: 35px;
}

.last-sidebar-panel-link img, .last-sidebar-panel-link a {
  padding-bottom: 35px;
}