* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: fit-content(20%) 3fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  grid-row: 1 / -1;
  grid-column: 1;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: min-content;
  padding: 20px 134px 20px 20px;
  background-color: #0284c7;
  color: white;
  gap: 15px;
}

.sidebar-header, .sidebar-panel-link-list, .sidebar-panel-link, .sidebar-account-link-list, .sidebar-account-link {
  display: contents;
}

nav img {
  justify-self: center;
  align-self: center;
  height: 1.7rem;
  filter: invert(99%) sepia(0%) saturate(22%) hue-rotate(36deg) brightness(104%) contrast(100%);
}

nav a {
  justify-self: left;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 700;
}

nav a, nav a:active, nav a:visited, nav a:hover {
  color: white;
  text-decoration: none;
}

.sidebar-header a {
  font-size: 2rem;
}

.sidebar-header img {
  height: 3rem;
}

.first-sidebar-panel-link img, .first-sidebar-panel-link a {
  padding-top: 35px;
}

.last-sidebar-panel-link img, .last-sidebar-panel-link a {
  padding-bottom: 35px;
}

#header {
  grid-column: 2 / -1;
  grid-row: 1;
  display: grid;
  padding: 25px 40px 20px 40px;
  row-gap: 30px;

}

#header-top {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}


.icon {
  height: 1.7rem;
}

.pfp {
  border-radius: 100%;
}

.small-pfp {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}

.big-pfp {
  height: 4.8rem;
  width: 4.8rem;
  object-fit: cover;
}

.bold {
  font-weight: bold;
}

.large-font {
  font-size: 1.5rem;
}

input[type="search"] {
  border-radius: 1rem;
  background-color: #e2e8f0;
  height: 2rem;
  padding-left: 1rem;
}

.add-padding-left {
  padding-left: 200px;
}

.big-font {
  font-size: 1.5rem;
}

.small-font {
  font-size: 1rem;
}

.very-big-font {
  font-size: 2rem;
}

button {
  border-radius: 2rem;
  background-color: #0284c7;
  color: white;
  font-size: 1.3rem;
  padding: 0.8rem 0;
  width: 7rem;
  align-self: center;
}

#header-bottom {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

#hello {
  display: grid;
  align-content: center;
  justify-content: left;
}

#gradient {
  background: linear-gradient(to bottom, white, #e2e8f0);
  height: 10px;
  grid-column: 2 / -1;
}

#main-content {
  background-color: #e2e8f0;
  padding: 40px 20px;
  grid-row: 4 / -1;
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 40px;
}

#project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
  padding-top: 20px;
}

.project-card {
  height: 10rem;
  border-radius: 15px;
  background-color: white;
  color: #475569;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10px 1fr;
}

.project-card-ribbon {
  background-color: #f59e0b;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.project-card-content {
  padding: 1.5rem 1rem 1rem 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 5px;
}

.project-card-icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  align-items: center;
  column-gap: 30px;
}

.black-font {
  color: black;
}

#extra-content {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  display: grid;
  justify-content: left;
  align-content: start;
  row-gap: 30px;
  padding-right: 30px;
}

#announcements {
  display: grid;
  justify-content: left;
  align-content: start;
  row-gap: 15px;
  font-size: 0.8rem;
}

#announcements-container {
  display: grid;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
}

.announcement {
  display: grid;
  justify-content: left;
  padding: 15px 10px;
  color: #475569;
}

.add-border-top {
  border-top: 1px solid #94a3b8;
}

.announcement p:first-child {
  color: black;
}

#trending {
  display: grid;
  align-content: start;
  row-gap: 15px;
}

#trending-container {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  display: grid;
  align-items: left;
  row-gap: 20px;
}

.trending-profile {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  column-gap: 13px;
}